h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* modifico el h2 solo para contactos */
}

.centrar-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* el contenedor lo centra y este lo pone ademas en columnas */
}

.centrar-texto h1 {
    color: #5e4e3e;
    font-size: 64px;
    margin: 20px;
    /* al h1 del contenedor anterior tiene margen gral color y fuente mas grande */
}

.centrar-texto p {
    color: #5e4e3e;
    width: 1200px;
    font-size: 30px;
    margin: 20px;
    /* al p del contenedor anterior tiene margen gral color fuente y un ancho especifico para que no ocupe todo */
}

.boton-contacto {
    margin: 10px;
    padding: 15px 25px;
    background-color: #654C32;
    border: none;
    border-radius: 5px;
    margin: 120px;
    width: 450px;
    border-radius: 40px;
    /* al boton de donar del contenedor le damos margen, relleno, le sacamos el estilo del borde
    pero queda con un redondeado, ancho establecido y un color de fondo */
}

.boton-contacto a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    /* al link del boton le damos color blanco, sin subrayado y un tamaño de fuente */
}

.nuestros-datos {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 100px;
    /* div gral donde estan nuestros contactos, centrados, van arriba de todo y estan en fila con un
    margen para que se separen de los costados y el boton de donar ademas de cada item */
}

.lateral {
    flex-direction: column;
    width: 400px;
    /* los 2 div izq y derecha que estan en flex, en columna y con ancho establecido*/
}

.lateral p {
    color: #5e4e3e;
    font-size: 24px;
    /* al contenedor, el texto con fuente y color */
}

.lateral h2 {
    color: #5e4e3e;
    font-size: 32px;
    /* al contenedor, el titulo con fuente y color */
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* div de nuestras redes, todo en flex (fila) a columna y centrado*/
}

.redes h2 {
    color: #5e4e3e;
    font-size: 32px;
    margin: 15px;
    /* el titulo con fuente margen y color */
}

.iconos {
    display: flex;
    flex-direction: row;
    /* subdiv en redes para poner las fotos en fila con flex */
}

.redes img {
    margin: 5px;
    width: 50px;
    /* las fotos de las redes con un margen y un ancho */
}