.informacion {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_detalle {
    width: 500px;
    height: auto;
    display: block;
}

#foto {
    display: none;
}

.label_subir_foto {
    display: inline-block;
    cursor: pointer;
    padding: 10px 14px;
    border: 1px solid #aebfc2;
    border-radius: 0;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    background-color: #0b6670;
    color: white;
    text-align: center;
}

.fondo {
    background-color: white;
}